


@foreach (var adminnameinviewprofile in Model)
{
   <br />
    <br />
    <div class="user-menu" style="cursor: pointer; margin-left: -115px; position: relative; top: -42px;">

        <span class="text-white">@adminnameinviewprofile.Name</span>
    </div>
}




