


@foreach (var adminnameinviewprofile in Model)
{

 
        <div class="user-menu" style="cursor: pointer; margin-left: -115px; position: relative; top: -30px;">
           
            <span class="text-white">@adminnameinviewprofile.Name</span>
        </div>
    }




