



@foreach (var adminnameinviewprofile in Model)
{

    if (adminnameinviewprofile.FilePath == null)
    {
        <div class="text-center">
            <img class="rounded-circle" src="~/DefaultImage/city-hall.png" width="100" height="100" />
            <span>@adminnameinviewprofile.Name</span>
        </div>
    }
    else
    {
        <div class="user-menu text-center" style="cursor: pointer;">
            <img class="rounded-circle" src="@adminnameinviewprofile.FilePath" width="100" height="100" />

        </div>
    }
    <br />
<div class="text-center">
    <span class="text-black font-weight-800">@adminnameinviewprofile.Name</span>
    <br />
    <span>
        @adminnameinviewprofile.NgpRole.RoleName
    </span>
</div>


}