@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Users Table</h4>
               
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped" id="usertable" width="100%">
                        <thead>
                            <tr>

                                <th  class="bg-success  text-white">Id</th>
                                <th class="bg-success   text-white" >Name</th>
                                <th  class="bg-success  text-white">Email</th>
                                <th  class="bg-success  text-white">UserName</th>
                                <th  class="bg-success  text-white">RoleID</th>
                                <th  class="bg-success  text-white">RoleID</th>
                            </tr>
                         </thead>
                         
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(window).ready(function () {
        Account();
    });
</script>