@{
    ViewBag.Title = "Index";
    Layout = (int)Session["Role_Id"] == 1 ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}

<style>
    * {
        margin: 0;
        padding: 0
    }

    html {
        height: 100%
    }

    p {
        color: grey
    }

    #heading {
        text-transform: uppercase;
        color: #20642f !important;
        font-weight: normal
    }

    #contract_main {
        text-align: center;
        position: relative;
        margin-top: 20px
    }

        #contract_main fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding-bottom: 20px;
            position: relative
        }

    .form-card {
        text-align: left
    }

    #contract_main fieldset:not(:first-of-type) {
        display: none
    }

    #contract_main input,
    #contract_main textarea {
        padding: 8px 15px 8px 15px;
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 25px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        background-color: #ECEFF1;
        font-size: 16px;
        letter-spacing: 1px
    }

        #contract_main input:focus,
        #contract_main textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #673AB7;
            outline-width: 0
        }

    #contract_main .action-button {
        width: 100px;
        background-color: #20642f !important;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 0px 10px 5px;
        float: right
    }

        #contract_main .action-button:hover,
        #contract_main .action-button:focus {
            background-color: #311B92
        }

    #contract_main .action-button-previous {
        width: 100px;
        background: #616161;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px 10px 0px;
        float: right
    }

        #contract_main .action-button-previous:hover,
        #contract_main .action-button-previous:focus {
            background-color: #000000
        }

    .card {
        z-index: 0;
        border: none;
        position: relative
    }

    .fs-title {
        font-size: 25px;
        color: black;
        margin-bottom: 15px;
        font-weight:lighter;
        text-align: left;

    }

    .purple-text {
        color: #673AB7;
        font-weight: normal
    }

    .steps {
        font-size: 25px;
        color: gray;
        margin-bottom: 10px;
        font-weight: normal;
        text-align: right
    }

    .fieldlabels {
        color: gray;
        text-align: left
    }

    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: #59a66a !important
    }

        #progressbar .active {
            color: #59a66a !important
        }

        #progressbar li {
            list-style-type: none;
            font-size: 15px;
            width: 20%;
            float: left;
            position: relative;
            font-weight: 400
        }

        #progressbar #contractor:before {
            font-family: FontAwesome;
            content: "\f0c0"
        }

        #progressbar #projects:before {
            font-family: FontAwesome;
            content: "\f007"
        }

        #progressbar #payment:before {
            font-family: FontAwesome;
            content: "\f030"
        }
        #progressbar #sched:before {
            font-family: FontAwesome;
            content: "\f030"
        }
        #progressbar #contract:before {
            font-family: FontAwesome;
            content: "\f030"
        }

        #progressbar #confirm:before {
            font-family: FontAwesome;
            content: "\f00c"
        }

        #progressbar li:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 20px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background-color: #59a66a !important
        }

    .progress {
        height: 20px
    }

    .progress-bar {
        background-color: #59a66a !important
    }

    .fit-image {
        width: 100%;
        object-fit: cover
    }
</style>

<script>
    $(document).ready(function () {

        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;
        var current = 1;
        var steps = $("fieldset").length;

        setProgressBar(current);

        $(".next").click(function () {

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //Add Class Active
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    next_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(++current);
        });

        $(".previous").click(function () {

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(--current);
        });

        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
                .css("width", percent + "%")
        }

        $(".submit").click(function () {
            return false;
        })

    });
</script>






    <div class="row justify-content-center">
        <div class="col-md-12  ">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <div class="text-center">
                    <h2 id="heading">National Greening Project Management System </h2>
                 <br />
                </div>
                <form id="contract_main">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="contractor"><i class=""></i><strong>Contractor</strong></li>
                        <li id="projects"><strong>projects</strong></li>
                        <li id="contract"><strong>contract</strong></li>
                        <li id="payment"><strong>Payment</strong></li>
                        <li id="sched"><strong>sched</strong></li>

                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br> <!-- fieldsets -->
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Create Contractor:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 1 - 5</h2>
                                </div>
                            </div>

                            <label>Contractor Name</label>
                            <input type="text" class="form-control" id="contractor_name" name="contractor_name">
                            <p class="d-none text-red warning-kuno">Please Input a Field</p>




                        </div> <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Karugtong :</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 2 - 5</h2>
                                </div>
                            </div>

                            <label for="contractor_type">Type</label>
                            <select class="form-control" style="width:100%" name="contractor_type" id="contractor_type">
                                <option value="">Type</option>
                                <option value="Group">Group</option>
                                <option value="Individual">Individual</option>
                            </select>


                            <div class="form-group">
                                <div class=" sample">

                                    <label style="color: black;">address_municipality</label>
                                </div>

                                <div class="form-group">

                                    <select id="address_municipality" name="address_municipality" class="form-control" style="width:100%">
                                        <option value=" ">Not Applicable</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <div class=" sample">

                                        <label style="color: black;">address_barangay </label>
                                    </div>
                                    <select name="address_barangay" style="width:100%" class="form-control">
                                        <option value=" ">Not Applicable</option>
                                    </select>
                                </div>
                            </div>





                        </div> <input type="button" name="next" class="next action-button" value="Next" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Contract :</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 3 - 5</h2>
                                </div>
                            </div>
                          
                        </div>
                        <input type="button" name="next" class="next action-button" value="Next" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>

                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Payment :</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 4 - 5</h2>
                                </div>
                            </div>
                           
                        </div>

                        <input type="button" name="next" class="next action-button" value="Next" />
                        
                        
                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />


                    </fieldset>

                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Sched :</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 5 - 5</h2>
                                </div>
                            </div>

                        </div>

                        <button type="submit" class="next action-button" value="Submit" >Save</button>
                     

                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />


                    </fieldset>

                </form>
            </div>
        </div>
    </div>







<!--<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-green">
                <h4 class="text-white">Create Contractor</h4>
                <div class="card-header-form">

                </div>
            </div>
            <br />
            <form id="contract_main">

                <div style="padding: 2px 2.5%">
                    <div class="row">

                        <div class="col-md-6">

                            <div class="form-group ">
                                <label>Contractor Name</label>
                                <input type="text" class="form-control" id="contractor_name" name="contractor_name">
                                <p class="d-none text-red warning-kuno">Please Input a Field</p>
                            </div>

                            <div class="form-group">
                                <label for="contractor_type">Type</label>
                                <select class="form-control" style="width:100%" name="contractor_type" id="contractor_type">
                                    <option value="">Type</option>
                                    <option value="Group">Group</option>
                                    <option value="Individual">Individual</option>
                                </select>
                                <p class="d-none text-red warning-kuno">Please Input a Field</p>
                            </div>
                        </div>


                        <div class="col-md-6">

                            <div class="form-group">
                                <div class=" sample">

                                    <label style="color: black;">address_municipality</label>
                                </div>

                                <div class="form-group">

                                    <select id="address_municipality" name="address_municipality" class="form-control" style="width:100%">
                                        <option value=" ">Not Applicable</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <div class=" sample">

                                        <label style="color: black;">address_barangay </label>
                                    </div>
                                    <select name="address_barangay" style="width:100%" class="form-control">
                                        <option value=" ">Not Applicable</option>
                                    </select>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="text-center">

                        <input type="submit" value="SAVE" class="btn bg-green text-white btn-sm contract_next" />

                    </div>

                </div>
                <br />

            </form>
        </div>
    </div>
</div>


<div class="card-body">
    <div class="card">-->
        @*PLEASE WAIT MODAL  IN MODAL *@
        @*<div class="modal fade" id="pleasewaitModal">
            <div class="modal-dialog modal-m modal-dialog-centered">
                <div class="modal-content">
                    <img id="loading" style="height: 170px; width: 480px; padding-left:8px;" src="~/Images/picturepleasewait.gif" />


                </div>
            </div>
        </div>

    </div>
</div>*@



<script>
    $(document).ready(function () {
        ContractorAnimation();

    });
</script>

