
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Contractor </h4>
            </div>
            <div class="card-body">
                <ul class="nav nav-pills" id="myTab3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active link_1" id="tab1_tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="home" aria-selected="true">Create Contractor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link_2" id="tab2_tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="profile" aria-selected="false">Contractor Information  </a>
                    </li> 
                </ul>
                <div class="tab-content" id="myTabContent2">
                    <div class="tab-pane fade show active content_1" id="tab1" role="tabpanel" aria-labelledby="tab1_tab">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="card"> 
                                    <div class="card-body"> 
                                        <div class="container-fluid"> 
                                            <div class="row">
                                                <form id="contract_main">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group ">
                                                                    <label>Contractor Name</label>
                                                                    <input type="text" class="form-control" id="contractor_name" name="contractor_name">
                                                                    <p class="d-none text-red warning-kuno">Please Input a Field</p>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="contractor_type">Type</label>
                                                                    <select class="form-control" style="width:100%" name="contractor_type" id="contractor_type">
                                                                        <option value="">Type</option>
                                                                        <option value="Group">Group</option>
                                                                        <option value="Group">Individual</option>
                                                                    </select>
                                                                    <p class="d-none text-red warning-kuno">Please Input a Field</p>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="address_municipality">Municipality</label>
                                                                    <select class="form-control" style="width:100%" name="address_municipality" id="address_municipality">
                                                                        <option value="">Municipality</option>
                                                                        <option value="1">Group</option>
                                                                        <option value="2">Individual</option>
                                                                    </select>
                                                                    <p class="d-none text-red warning-kuno">Please Input a Field</p>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="address_barangay">Barangay</label>
                                                                    <select class="form-control" style="width:100%" name="address_barangay" id="address_barangay">
                                                                        <option value="">Please Select a Barangay</option>
                                                                        <option value="1">Group</option>
                                                                        <option value="2">Individual</option>
                                                                    </select>
                                                                    <p class="d-none text-red warning-kuno">Please Input a Field</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text-center">
                                                            <div class="btn bg-green text-white btn-sm contract_next">
                                                                Save
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                           
                        </div>
                    </div> 
                    <div class="tab-pane fade content_2" id="tab2" role="tabpanel" aria-labelledby="tab2_tab"> 
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Contractor Table</h4>

                                    </div>
                                    
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table table-striped" id="contractortable" width="100%">
                                                <thead>
                                                    <tr>

                                                        <th class="bg-green  text-white">ContractorID</th>
                                                        <th class="bg-green    text-white">ContractorName</th>
                                                        <th class="bg-green   text-white">Address Municipality</th>
                                                        <th class="bg-green  text-white">Address Barangay</th>
                                                        <th class="bg-green  text-white">Contractor Type</th>
                                                       

                                                    </tr>
                                                </thead>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div> 
</div>

<script>
    $(document).ready(function () {
        ContractorAnimation();
    });
</script>