.hideThis{
 display:none;
}

.modal-backdrop {
    z-index: -1;
}
.tomerror {
    color: red;
}

.validationerror {
    color: red !important;
}
.bg-green {
    background-color: #20642f !important;
}