@{
    ViewBag.Title = "Index";
    Layout = (int)Session["Role_Id"] == 1 ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <ul class="nav nav-pills" id="myTab3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab3" data-toggle="tab" href="#home3" role="tab" aria-controls="forContractor" aria-selected="true"> Contractor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab3" data-toggle="tab" href="#profile3" role="tab" aria-controls="forProject" aria-selected="false">Project </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab4" data-toggle="tab" href="#profile4" role="tab" aria-controls="forContract" aria-selected="false">Contract </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab5" data-toggle="tab" href="#profile5" role="tab" aria-controls="forPayments" aria-selected="false">Payment </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab6" data-toggle="tab" href="#profile6" role="tab" aria-controls="forSched" aria-selected="false">Sched </a>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent2">
                    <div class="tab-pane fade show active" id="home3" role="tabpanel" aria-labelledby="home-tab3">
                        @*for Contractor tab*@




                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Contractor Table</h4>

                                    </div>
                                    <div style="padding:2px 2.5%">
                                        <button type="button" class="btn btn-info btn-md " style="border-radius:20px;" onclick="location.href ='/Contractor/Create'">Create Contractor <i class="fa fa-plus-circle"></i> </button>
                                        <div class="col-md-8" style="float:right">
                                            <div id="FilterSearchRole"></div>
                                            @*<div id="FilterSearchContractor"></div>*@
                                        </div>
                                        <br />
                                        <br />
                                    </div>

                                    <br />
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table table-striped" id="contractortable" width="100%">
                                                <thead>
                                                    <tr>

                                                        <th class="bg-green  text-white">ContractorID</th>
                                                        <th class="bg-green    text-white">ContractorName</th>
                                                        <th class="bg-green   text-white">Address Municipality</th>
                                                        <th class="bg-green  text-white">Address Barangay</th>
                                                        <th class="bg-green  text-white">Contractor Type</th>
                                                        <th class="bg-green  text-white">Role: </th>
                                                        <th class="bg-green  text-white">Create by: </th>
                                                        <th class="bg-green  text-white">Action </th>


                                                    </tr>
                                                </thead>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="tab-pane fade" id="profile3" role="tabpanel" aria-labelledby="profile-tab3">
                        @*for project tab*@



                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Project Table</h4>

                                    </div>

                                    <br />
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table id="projectable" class="table table-hover" width="100%">


                                                <thead style="height:46px;">
                                                    <tr>
                                                        <th class="bg-green text-white">Id</th>
                                                        <th class="bg-green text-white">Area</th>
                                                        <th class="bg-green text-white">cenro</th>
                                                        <th class="bg-green text-white">Region</th>
                                                        <th class="bg-green text-white">location Municipality</th>
                                                        <th class="bg-green text-white">Location Barangay</th>
                                                        <th class="bg-green text-white">Penro</th>
                                                        <th class="bg-green text-white">year form</th>
                                                        <th class="bg-green  text-white">Role: </th>
                                                        <th class="bg-green  text-white">Create by: </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="profile4" role="tabpanel" aria-labelledby="profile-tab4">
                        <div class="card-body p-0">
                            <div class="card-header">
                                <h4>Contract Table</h4>

                            </div>

                            <br />


                            <div class="table-responsive">
                                <table id="contracttables" class="table table-hover" width="100%">


                                    <thead style="height:46px;">
                                        <tr>

                                            <th style="display:none;">contractID</th>
                                            <th class="bg-green text-white">ContractorName</th>
                                            <th class="bg-green text-white">Year</th>
                                            <th class="bg-green  text-white">Role: </th>
                                            <th class="bg-green  text-white">Create by: </th>
                                            <th class="bg-green  text-white">Action: </th>



                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile5" role="tabpanel" aria-labelledby="profile-tab5">
                        <div class="card-body p-0">
                            <div class="card-header">
                                <h4>Payment Table</h4>

                            </div>

                            <br />
                            <div class="table-responsive">
                                <table id="paymenttable" class="table table-hover" width="100%">


                                    <thead style="height:46px;">
                                        <tr>

                                            <th style="display:none;">paymentId</th>
                                            <th class="bg-green text-white">ContractorName</th>
                                            <th class="bg-green text-white">num release</th>
                                            <th class="bg-green text-white">year released</th>
                                            <th class="bg-green text-white">Role</th>
                                            <th class="bg-green text-white">Create By:</th>


                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile6" role="tabpanel" aria-labelledby="profile-tab6">
                        <div class="card-body p-0">
                            <div class="card-header">
                                <h4>Sched Table</h4>

                            </div>
                            <div style="padding:2px 2.5%">
                                <button type="button" class="btn btn-info btn-md " style="border-radius:20px;" onclick="location.href ='/Sched/Create'">Create Sched <i class="fa fa-plus-circle"></i> </button>
                            </div>
                            <br />
                            <div class="table-responsive">
                                <table id="schedtable" class="table table-hover" width="100%">


                                    <thead style="height:46px;">
                                        <tr>

                                            <th style="display:none;">schedID</th>
                                            <th class="bg-green text-white">ors_no</th>
                                            <th class="bg-green text-white">ors_date</th>
                                            <th class="bg-green text-white">dv_no</th>
                                            <th class="bg-green text-white">dv_date</th>
                                            <th class="bg-green text-white">lddap_no</th>
                                            <th class="bg-green text-white">lddap_date</th>
                                            <th class="bg-green text-white">contractor_name</th>
                                            <th class="bg-green text-white">Role</th>
                                            <th class="bg-green text-white">Create By:</th>
                                            <th class="bg-green text-white">Action:</th>



                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@*EDIT CONTRACTOR IN MODAL*@
<div id="editcontractorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">



        <div class="modal-content">
            <div class="modal-header bg-green">
                <h4 class="card-title d-flex justify-content-between modal-title text-white" style="padding:0;">Edit Contractor</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <form id="editcontractorform">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="hidden" class="form-control" id="contractorID" name="contractorID"> @*get id for edit needthis*@
                                <div class="form-group ">
                                    <label>Contractor Name</label>
                                    <input type="text" class="form-control" id="contractor_name" name="contractor_name" required>
                                    <p class="d-none text-red warning-kuno">Please Input a Field</p>
                                </div>

                                <div class="form-group">
                                    <label for="contractor_type">Type</label>
                                    <select class="form-control" style="width:100%" name="contractor_type" id="contractor_type">
                                        <option value="">Type</option>
                                        <option value="Group">Group</option>
                                        <option value="Individual">Individual</option>
                                    </select>
                                    <p class="d-none text-red warning-kuno">Please Input a Field</p>
                                </div>
                            </div>


                            <div class="col-md-6">

                                <div class="form-group">
                                    <div class=" sample">

                                        <label style="color: black;">address_municipality</label>
                                    </div>

                                    <div class="form-group">

                                        <select id="address_municipality" name="address_municipality" class="form-control" style="width:100%">
                                            <option value=" ">Not Applicable</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <div class=" sample">

                                            <label style="color: black;">address_barangay </label>
                                        </div>
                                        <select name="address_barangay" id="address_barangay" style="width:100%" class="form-control" required="required">
                                            <option value=" ">Not Applicable</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="text-center">
                            <div class="text-center">

                                <button type="button" value=" submit" class="btn bg-green text-white " id="UpdateRecord">Save</button>

                            </div>

                        </div>

                    </div>

                    <input type="hidden" name="contractor_name" id="contractor_name" />

                    <input type="hidden" name="roleId" id="roleId" />
                    <input type="hidden" name="name" id="name" />
                    <input type="hidden" name="userId" id="userId" />
                    <input type="hidden" name="userName" id="userName" />



                    <input type="hidden" name="address_municipality" id="address_municipality" />
                    <input type="hidden" name="address_barangay" id="address_barangay" />
                    <input type="hidden" name="contractor_type" id="contractor_type" />
                    <input type="hidden" name="location_municipality" id="location_municipality" />
                    <input type="hidden" name="location_barangay" id="location_barangay" />
                    <input type="hidden" name="year_form" id="year_form" />
                    <input type="hidden" name="penro" id="penro" />
                    <input type="hidden" name="cenro" id="cenro" />
                    <input type="hidden" name="region" id="region" />
                    <input type="hidden" name="area" id="area" />

                    <input type="hidden" name="num_seedlings_survive_year1" id="num_seedlings_survive_year1" />
                    <input type="hidden" name="moanumber_year1" id="moanumber_year1" />
                    <input type="hidden" name="datemoasigned_year1" id="datemoasigned_year1" />
                    <input type="hidden" name="contractcost_year1" id="contractcost_year1" />
                    <input type="hidden" name="dateobligated_year1" id="dateobligated_year1" />
                    <input type="hidden" name="orsno_year1" id="orsno_year1" />
                    <input type="hidden" name="num_seedlings_produced_year1" id="num_seedlings_produced_year1" />
                    <input type="hidden" name="commodity_year1" id="commodity_year1" />
                    <input type="hidden" name="num_seedlings_planted_year1" id="num_seedlings_planted_year1" />
                    <input type="hidden" name="survivalrate_year1" id="survivalrate_year1" />
                    <input type="hidden" name="moanumber_year2" id="moanumber_year2" />
                    <input type="hidden" name="datemoasigned_year2" id="datemoasigned_year2" />
                    <input type="hidden" name="unitcost_year2" id="unitcost_year2" />
                    <input type="hidden" name="contractcost_year2" id="contractcost_year2" />
                    <input type="hidden" name="dateobligated_year2" id="dateobligated_year2" />
                    <input type="hidden" name="orsno_year2" id="orsno_year2" />
                    <input type="hidden" name="num_seedlings_planted_year2" id="num_seedlings_planted_year2" />
                    <input type="hidden" name="num_seedlings_survive_endofyear_1_year2" id="num_seedlings_survive_endofyear_1_year2" />

                    <input type="hidden" name="survivalrate_year2" id="survivalrate_year2" />


                    <input type="hidden" name="num_seedlings_replanted_year2" id="num_seedlings_replanted_year2" />
                    <input type="hidden" name="moanumber_year3" id="moanumber_year3" />
                    <input type="hidden" name="datemoasigned_year3" id="datemoasigned_year3" />
                    <input type="hidden" name="unitcost_year3" id="unitcost_year3" />
                    <input type="hidden" name="contractcost_year3" id="contractcost_year3" />
                    <input type="hidden" name="dateobligated_year3" id="dateobligated_year3" />
                    <input type="hidden" name="orsno_year3" id="orsno_year3" />
                    <input type="hidden" name="num_seedlings_planted_year3" id="num_seedlings_planted_year3" />
                    <input type="hidden" name="num_seedlings_survive_endofyear_1_year3" id="num_seedlings_survive_endofyear_1_year3" />
                    <input type="hidden" name="survivalrate_year3" id="survivalrate_year3" />
                    <input type="hidden" name="num_seedlings_replanted_year3" id="num_seedlings_replanted_year3" />
                    <input type="hidden" name="grossammount_year1_1st" id="grossammount_year1_1st" />
                    <input type="hidden" name="lddap_no_year1_1st" id="lddap_no_year1_1st" />
                    <input type="hidden" name="date_lddap_year1_1st" id="date_lddap_year1_1st" />
                    <input type="hidden" name="grossammount_year1_2nd" id="grossammount_year1_2nd" />
                    <input type="hidden" name="retention_fee_year1_2nd" id="retention_fee_year1_2nd" />
                    <input type="hidden" name="mobilization_fund_year1_2nd" id="mobilization_fund_year1_2nd" />
                    <input type="hidden" name="amountless_rf_mf_year1_2nd" id="amountless_rf_mf_year1_2nd" />
                    <input type="hidden" name="bir_year1_2nd" id="bir_year1_2nd" />
                    <input type="hidden" name="netammountpaid_year1_2nd" id="netammountpaid_year1_2nd" />
                    <input type="hidden" name="lddapno_year1_2nd" id="lddapno_year1_2nd" />
                    <input type="hidden" name="date_lddap_year1_2nd" id="date_lddap_year1_2nd" />
                    <input type="hidden" name="grossammount_year1_3rd" id="grossammount_year1_3rd" />
                    <input type="hidden" name="retention_fee_year1_3rd" id="retention_fee_year1_3rd" />
                    <input type="hidden" name="mobilization_fund_year1_3rd" id="mobilization_fund_year1_3rd" />
                    <input type="hidden" name="amountless_rf_mf_year1_3rd" id="amountless_rf_mf_year1_3rd" />
                    <input type="hidden" name="bir_year1_3rd" id="bir_year1_3rd" />
                    <input type="hidden" name="netammountpaid_year1_3rd" id="netammountpaid_year1_3rd" />
                    <input type="hidden" name="lddapno_year1_3rd" id="lddapno_year1_3rd" />
                    <input type="hidden" name="date_lddap_year1_3rd" id="date_lddap_year1_3rd" />
                    <input type="hidden" name="grossammount_year1_4th" id="grossammount_year1_4th" />
                    <input type="hidden" name="retention_fee_year1_4th" id="retention_fee_year1_4th" />
                    <input type="hidden" name="mobilization_fund_year1_4th" id="mobilization_fund_year1_4th" />
                    <input type="hidden" name="amountless_rf_mf_year1_4th" id="amountless_rf_mf_year1_4th" />
                    <input type="hidden" name="bir_year1_4th" id="bir_year1_4th" />
                    <input type="hidden" name="netammountpaid_year1_4th" id="netammountpaid_year1_4th" />
                    <input type="hidden" name="lddapno_year1_4th" id="lddapno_year1_4th" />
                    <input type="hidden" name="date_lddap_year1_4th" id="date_lddap_year1_4th" />
                    <input type="hidden" name="grossammount_year1_5th" id="grossammount_year1_5th" />
                    <input type="hidden" name="retention_fee_year1_5th" id="retention_fee_year1_5th" />
                    <input type="hidden" name="mobilization_fund_year1_5th" id="mobilization_fund_year1_5th" />
                    <input type="hidden" name="amountless_rf_mf_year1_5th" id="amountless_rf_mf_year1_5th" />
                    <input type="hidden" name="bir_year1_5th" id="bir_year1_5th" />
                    <input type="hidden" name="netammountpaid_year1_5th" id="netammountpaid_year1_5th" />
                    <input type="hidden" name="lddapno_year1_5th" id="lddapno_year1_5th" />
                    <input type="hidden" name="date_lddap_year1_5th" id="date_lddap_year1_5th" />
                    <input type="hidden" name="grossammount_year1_6th" id="grossammount_year1_6th" />
                    <input type="hidden" name="retention_fee_year1_6th" id="retention_fee_year1_6th" />
                    <input type="hidden" name="mobilization_fund_year1_6th" id="mobilization_fund_year1_6th" />
                    <input type="hidden" name="amountless_rf_mf_year1_6th" id="amountless_rf_mf_year1_6th" />
                    <input type="hidden" name="bir_year1_6th" id="bir_year1_6th" />
                    <input type="hidden" name="survivalrate_year2_1st" id="survivalrate_year2_1st" />
                    <input type="hidden" name="grossammount_year2_1st" id="grossammount_year2_1st" />
                    <input type="hidden" name="redentionfee_fee_year2_1st" id="redentionfee_fee_year2_1st" />
                    <input type="hidden" name="amountless_rf_year2_1st" id="amountless_rf_year2_1st" />
                    <input type="hidden" name="bir_year2_1st" id="bir_year2_1st" />
                    <input type="hidden" name="netamount_paid_year2_1st" id="netamount_paid_year2_1st" />
                    <input type="hidden" name="lddapno_year2_1st" id="lddapno_year2_1st" />
                    <input type="hidden" name="date_lddap_year2_1st" id="date_lddap_year2_1st" />
                    <input type="hidden" name="survivalrate_year2_2nd" id="survivalrate_year2_2nd" />
                    <input type="hidden" name="grossammount_year2_2nd" id="grossammount_year2_2nd" />
                    <input type="hidden" name="redentionfee_fee_year2_2nd" id="redentionfee_fee_year2_2nd" />
                    <input type="hidden" name="amountless_rf_year2_2nd" id="amountless_rf_year2_2nd" />
                    <input type="hidden" name="bir_year2_2nd" id="bir_year2_2nd" />
                    <input type="hidden" name="netamount_paid_year2_2nd" id="netamount_paid_year2_2nd" />
                    <input type="hidden" name="lddapno_year2_2nd" id="lddapno_year2_2nd" />
                    <input type="hidden" name="date_lddap_year2_2nd" id="date_lddap_year2_2nd" />
                    <input type="hidden" name="survivalrate_year2_3rd" id="survivalrate_year2_3rd" />
                    <input type="hidden" name="grossammount_year2_3rd" id="grossammount_year2_3rd" />
                    <input type="hidden" name="redentionfee_fee_year2_3rd" id="redentionfee_fee_year2_3rd" />
                    <input type="hidden" name="amountless_rf_year2_3rd" id="amountless_rf_year2_3rd" />
                    <input type="hidden" name="bir_year2_3rd" id="bir_year2_3rd" />
                    <input type="hidden" name="netamount_paid_year2_3rd" id="netamount_paid_year2_3rd" />
                    <input type="hidden" name="lddapno_year2_3rd" id="lddapno_year2_3rd" />
                    <input type="hidden" name="date_lddap_year2_3rd" id="date_lddap_year2_3rd" />
                    <input type="hidden" name="survivalrate_year2_4th" id="survivalrate_year2_4th" />
                    <input type="hidden" name="grossammount_year2_4th" id="grossammount_year2_4th" />
                    <input type="hidden" name="redentionfee_fee_year2_4th" id="redentionfee_fee_year2_4th" />
                    <input type="hidden" name="amountless_rf_year2_4th" id="amountless_rf_year2_4th" />
                    <input type="hidden" name="bir_year2_1st3" id="bir_year2_1st3" />
                    <input type="hidden" name="netamount_paid_year2_4th" id="netamount_paid_year2_4th" />
                    <input type="hidden" name="lddapno_year2_4th" id="lddapno_year2_4th" />
                    <input type="hidden" name="date_lddap_year2_4th" id="date_lddap_year2_4th" />




                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>









@*YEAR1 EDIT CONTRACT SHOW IN MODAL*@
<div id="edityear1contractModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">



        <div class="modal-content">
            <div class="modal-header bg-green">
                <h4 class="card-title d-flex justify-content-between modal-title text-white" style="padding:0;"> EDIT Year 1 for Contract </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edityear1contractform">
                    <div class="row">


                        <input type="hidden" class="form-control" id="contractorID" name="contractorID" /> @*need id*@





                        <div class="col-md-6">
                            <div class="form-group ">
                                <label style="color: black;">moanumber_year1 </label>
                                <input type="text" class="form-control" id="moanumber_year1"
                                       name="moanumber_year1">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">datemoasigned_year1 </label>
                                <input type="date" class="form-control" id="datemoasigned_year1"
                                       name="datemoasigned_year1">
                            </div>

                            <div class="form-group ">
                                <label style="color: black;">contractcost_year1 </label>
                                <input type="text" class="form-control" id="contractcost_year1"
                                       name="contractcost_year1">
                            </div>

                            <div class="form-group ">
                                <label style="color: black;">dateobligated_year1 </label>
                                <input type="date" class="form-control" id="dateobligated_year1"
                                       name="dateobligated_year1">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">orsno_year1 </label>
                                <input type="text" class="form-control" id="orsno_year1"
                                       name="orsno_year1">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group ">
                                <label style="color: black;">num_seedlings_produced_year1 </label>
                                <input type="text" class="form-control" id="num_seedlings_produced_year1"
                                       name="num_seedlings_produced_year1">
                            </div>

                            <div class="form-group ">
                                <label style="color: black;">commodity_year1 </label>
                                <input type="text" class="form-control" id="commodity_year1"
                                       name="commodity_year1">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">num_seedlings_planted_year1 </label>
                                <input type="text" class="form-control" id="num_seedlings_planted_year1"
                                       name="num_seedlings_planted_year1">
                            </div>

                            <div class="form-group ">
                                <label style="color: black;">num_seedlings_survive_year1 </label>
                                <input type="text" class="form-control" id="num_seedlings_survive_year1"
                                       name="num_seedlings_survive_year1">
                            </div>

                            <div class="form-group ">
                                <label style="color: black;">survivalrate_year1 </label>
                                <input type="text" class="form-control" id="survivalrate_year1"
                                       name="survivalrate_year1">
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <div class="text-center">

                            <button type="button" value=" submit" class="btn bg-green text-white " id="UpdateYear1Contract">Save</button>

                        </div>

                    </div>
                    <input type="hidden" name="contractor_name" id="contractor_name" />

                    <input type="hidden" name="roleId" id="roleId" />
                    <input type="hidden" name="name" id="name" />
                    <input type="hidden" name="userId" id="userId" />
                    <input type="hidden" name="userName" id="userName" />



                    <input type="hidden" name="address_municipality" id="address_municipality" />
                    <input type="hidden" name="address_barangay" id="address_barangay" />
                    <input type="hidden" name="contractor_type" id="contractor_type" />
                    <input type="hidden" name="location_municipality" id="location_municipality" />
                    <input type="hidden" name="location_barangay" id="location_barangay" />
                    <input type="hidden" name="year_form" id="year_form" />
                    <input type="hidden" name="penro" id="penro" />
                    <input type="hidden" name="cenro" id="cenro" />
                    <input type="hidden" name="region" id="region" />
                    <input type="hidden" name="area" id="area" />

                    <input type="hidden" name="moanumber_year1" id="moanumber_year1" />
                    <input type="hidden" name="datemoasigned_year1" id="datemoasigned_year1" />
                    <input type="hidden" name="contractcost_year1" id="contractcost_year1" />
                    <input type="hidden" name="dateobligated_year1" id="dateobligated_year1" />
                    <input type="hidden" name="orsno_year1" id="orsno_year1" />
                    <input type="hidden" name="num_seedlings_produced_year1" id="num_seedlings_produced_year1" />
                    <input type="hidden" name="commodity_year1" id="commodity_year1" />
                    <input type="hidden" name="num_seedlings_planted_year1" id="num_seedlings_planted_year1" />
                    <input type="hidden" name="survivalrate_year1" id="survivalrate_year1" />
                    <input type="hidden" name="moanumber_year2" id="moanumber_year2" />
                    <input type="hidden" name="datemoasigned_year2" id="datemoasigned_year2" />
                    <input type="hidden" name="unitcost_year2" id="unitcost_year2" />
                    <input type="hidden" name="contractcost_year2" id="contractcost_year2" />
                    <input type="hidden" name="dateobligated_year2" id="dateobligated_year2" />
                    <input type="hidden" name="orsno_year2" id="orsno_year2" />
                    <input type="hidden" name="num_seedlings_planted_year2" id="num_seedlings_planted_year2" />
                    <input type="hidden" name="num_seedlings_survive_endofyear_1_year2" id="num_seedlings_survive_endofyear_1_year2" />

                    <input type="hidden" name="survivalrate_year2" id="survivalrate_year2" />


                    <input type="hidden" name="num_seedlings_replanted_year2" id="num_seedlings_replanted_year2" />
                    <input type="hidden" name="moanumber_year3" id="moanumber_year3" />
                    <input type="hidden" name="datemoasigned_year3" id="datemoasigned_year3" />
                    <input type="hidden" name="unitcost_year3" id="unitcost_year3" />
                    <input type="hidden" name="contractcost_year3" id="contractcost_year3" />
                    <input type="hidden" name="dateobligated_year3" id="dateobligated_year3" />
                    <input type="hidden" name="orsno_year3" id="orsno_year3" />
                    <input type="hidden" name="num_seedlings_planted_year3" id="num_seedlings_planted_year3" />
                    <input type="hidden" name="num_seedlings_survive_endofyear_1_year3" id="num_seedlings_survive_endofyear_1_year3" />
                    <input type="hidden" name="survivalrate_year3" id="survivalrate_year3" />
                    <input type="hidden" name="num_seedlings_replanted_year3" id="num_seedlings_replanted_year3" />
                    <input type="hidden" name="grossammount_year1_1st" id="grossammount_year1_1st" />
                    <input type="hidden" name="lddap_no_year1_1st" id="lddap_no_year1_1st" />
                    <input type="hidden" name="date_lddap_year1_1st" id="date_lddap_year1_1st" />
                    <input type="hidden" name="grossammount_year1_2nd" id="grossammount_year1_2nd" />
                    <input type="hidden" name="retention_fee_year1_2nd" id="retention_fee_year1_2nd" />
                    <input type="hidden" name="mobilization_fund_year1_2nd" id="mobilization_fund_year1_2nd" />
                    <input type="hidden" name="amountless_rf_mf_year1_2nd" id="amountless_rf_mf_year1_2nd" />
                    <input type="hidden" name="bir_year1_2nd" id="bir_year1_2nd" />
                    <input type="hidden" name="netammountpaid_year1_2nd" id="netammountpaid_year1_2nd" />
                    <input type="hidden" name="lddapno_year1_2nd" id="lddapno_year1_2nd" />
                    <input type="hidden" name="date_lddap_year1_2nd" id="date_lddap_year1_2nd" />
                    <input type="hidden" name="grossammount_year1_3rd" id="grossammount_year1_3rd" />
                    <input type="hidden" name="retention_fee_year1_3rd" id="retention_fee_year1_3rd" />
                    <input type="hidden" name="mobilization_fund_year1_3rd" id="mobilization_fund_year1_3rd" />
                    <input type="hidden" name="amountless_rf_mf_year1_3rd" id="amountless_rf_mf_year1_3rd" />
                    <input type="hidden" name="bir_year1_3rd" id="bir_year1_3rd" />
                    <input type="hidden" name="netammountpaid_year1_3rd" id="netammountpaid_year1_3rd" />
                    <input type="hidden" name="lddapno_year1_3rd" id="lddapno_year1_3rd" />
                    <input type="hidden" name="date_lddap_year1_3rd" id="date_lddap_year1_3rd" />
                    <input type="hidden" name="grossammount_year1_4th" id="grossammount_year1_4th" />
                    <input type="hidden" name="retention_fee_year1_4th" id="retention_fee_year1_4th" />
                    <input type="hidden" name="mobilization_fund_year1_4th" id="mobilization_fund_year1_4th" />
                    <input type="hidden" name="amountless_rf_mf_year1_4th" id="amountless_rf_mf_year1_4th" />
                    <input type="hidden" name="bir_year1_4th" id="bir_year1_4th" />
                    <input type="hidden" name="netammountpaid_year1_4th" id="netammountpaid_year1_4th" />
                    <input type="hidden" name="lddapno_year1_4th" id="lddapno_year1_4th" />
                    <input type="hidden" name="date_lddap_year1_4th" id="date_lddap_year1_4th" />
                    <input type="hidden" name="grossammount_year1_5th" id="grossammount_year1_5th" />
                    <input type="hidden" name="retention_fee_year1_5th" id="retention_fee_year1_5th" />
                    <input type="hidden" name="mobilization_fund_year1_5th" id="mobilization_fund_year1_5th" />
                    <input type="hidden" name="amountless_rf_mf_year1_5th" id="amountless_rf_mf_year1_5th" />
                    <input type="hidden" name="bir_year1_5th" id="bir_year1_5th" />
                    <input type="hidden" name="netammountpaid_year1_5th" id="netammountpaid_year1_5th" />
                    <input type="hidden" name="lddapno_year1_5th" id="lddapno_year1_5th" />
                    <input type="hidden" name="date_lddap_year1_5th" id="date_lddap_year1_5th" />
                    <input type="hidden" name="grossammount_year1_6th" id="grossammount_year1_6th" />
                    <input type="hidden" name="retention_fee_year1_6th" id="retention_fee_year1_6th" />
                    <input type="hidden" name="mobilization_fund_year1_6th" id="mobilization_fund_year1_6th" />
                    <input type="hidden" name="amountless_rf_mf_year1_6th" id="amountless_rf_mf_year1_6th" />
                    <input type="hidden" name="bir_year1_6th" id="bir_year1_6th" />
                    <input type="hidden" name="survivalrate_year2_1st" id="survivalrate_year2_1st" />
                    <input type="hidden" name="grossammount_year2_1st" id="grossammount_year2_1st" />
                    <input type="hidden" name="redentionfee_fee_year2_1st" id="redentionfee_fee_year2_1st" />
                    <input type="hidden" name="amountless_rf_year2_1st" id="amountless_rf_year2_1st" />
                    <input type="hidden" name="bir_year2_1st" id="bir_year2_1st" />
                    <input type="hidden" name="netamount_paid_year2_1st" id="netamount_paid_year2_1st" />
                    <input type="hidden" name="lddapno_year2_1st" id="lddapno_year2_1st" />
                    <input type="hidden" name="date_lddap_year2_1st" id="date_lddap_year2_1st" />
                    <input type="hidden" name="survivalrate_year2_2nd" id="survivalrate_year2_2nd" />
                    <input type="hidden" name="grossammount_year2_2nd" id="grossammount_year2_2nd" />
                    <input type="hidden" name="redentionfee_fee_year2_2nd" id="redentionfee_fee_year2_2nd" />
                    <input type="hidden" name="amountless_rf_year2_2nd" id="amountless_rf_year2_2nd" />
                    <input type="hidden" name="bir_year2_2nd" id="bir_year2_2nd" />
                    <input type="hidden" name="netamount_paid_year2_2nd" id="netamount_paid_year2_2nd" />
                    <input type="hidden" name="lddapno_year2_2nd" id="lddapno_year2_2nd" />
                    <input type="hidden" name="date_lddap_year2_2nd" id="date_lddap_year2_2nd" />
                    <input type="hidden" name="survivalrate_year2_3rd" id="survivalrate_year2_3rd" />
                    <input type="hidden" name="grossammount_year2_3rd" id="grossammount_year2_3rd" />
                    <input type="hidden" name="redentionfee_fee_year2_3rd" id="redentionfee_fee_year2_3rd" />
                    <input type="hidden" name="amountless_rf_year2_3rd" id="amountless_rf_year2_3rd" />
                    <input type="hidden" name="bir_year2_3rd" id="bir_year2_3rd" />
                    <input type="hidden" name="netamount_paid_year2_3rd" id="netamount_paid_year2_3rd" />
                    <input type="hidden" name="lddapno_year2_3rd" id="lddapno_year2_3rd" />
                    <input type="hidden" name="date_lddap_year2_3rd" id="date_lddap_year2_3rd" />
                    <input type="hidden" name="survivalrate_year2_4th" id="survivalrate_year2_4th" />
                    <input type="hidden" name="grossammount_year2_4th" id="grossammount_year2_4th" />
                    <input type="hidden" name="redentionfee_fee_year2_4th" id="redentionfee_fee_year2_4th" />
                    <input type="hidden" name="amountless_rf_year2_4th" id="amountless_rf_year2_4th" />
                    <input type="hidden" name="bir_year2_1st3" id="bir_year2_1st3" />
                    <input type="hidden" name="netamount_paid_year2_4th" id="netamount_paid_year2_4th" />
                    <input type="hidden" name="lddapno_year2_4th" id="lddapno_year2_4th" />
                    <input type="hidden" name="date_lddap_year2_4th" id="date_lddap_year2_4th" />

                </form>





            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>














@*YEAR1 CONTRACT SHOW IN MODAL(READONLY)*@
<div id="year1contractModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">



        <div class="modal-content">
            <div class="modal-header bg-green">
                <h4 class="card-title d-flex justify-content-between modal-title text-white" style="padding:0;">Year 1 for Contract List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="showdatayear1contractform">
                    <div class="row">


                        <input type="hidden" class="form-control" id="contractorID" name="contractorID" /> @*need id*@

                        <div class="col-md-6">
                            <div class="form-group ">
                                <label style="color: black;">moanumber_year1 </label>
                                <input type="text" class="form-control" id="moanumber_year1" readonly
                                       name="moanumber_year1">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">datemoasigned_year1 </label>
                                <input type="date" class="form-control" id="datemoasigned_year1" readonly
                                       name="datemoasigned_year1">
                            </div>

                            <div class="form-group ">
                                <label style="color: black;">contractcost_year1 </label>
                                <input type="text" class="form-control" id="contractcost_year1" readonly
                                       name="contractcost_year1">
                            </div>

                            <div class="form-group ">
                                <label style="color: black;">dateobligated_year1 </label>
                                <input type="date" class="form-control" id="dateobligated_year1" readonly
                                       name="dateobligated_year1">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">orsno_year1 </label>
                                <input type="text" class="form-control" id="orsno_year1" readonly
                                       name="orsno_year1">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group ">
                                <label style="color: black;">num_seedlings_produced_year1 </label>
                                <input type="text" class="form-control" id="num_seedlings_produced_year1" readonly
                                       name="num_seedlings_produced_year1">
                            </div>

                            <div class="form-group ">
                                <label style="color: black;">commodity_year1 </label>
                                <input type="text" class="form-control" id="commodity_year1" readonly
                                       name="commodity_year1">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">num_seedlings_planted_year1 </label>
                                <input type="text" class="form-control" id="num_seedlings_planted_year1" readonly
                                       name="num_seedlings_planted_year1">
                            </div>

                            <div class="form-group ">
                                <label style="color: black;">num_seedlings_survive_year1 </label>
                                <input type="text" class="form-control" id="num_seedlings_survive_year1" readonly
                                       name="num_seedlings_survive_year1">
                            </div>

                            <div class="form-group ">
                                <label style="color: black;">survivalrate_year1 </label>
                                <input type="text" class="form-control" id="survivalrate_year1" readonly
                                       name="survivalrate_year1">
                            </div>
                        </div>
                    </div>
                </form>





            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>







@*YEAR2 CONTRACT SHOW IN MODAL(READONLY)*@
<div id="year2contractModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">



        <div class="modal-content">
            <div class="modal-header bg-green">
                <h4 class="card-title d-flex justify-content-between modal-title text-white" style="padding:0;">Year 2 for Contract List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="showdatayear2contractform">
                    <div class="row">


                        <input type="hidden" class="form-control" id="contractorID" name="contractorID" /> @*need id*@
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label style="color: black;">moanumber_year2 </label>
                                <input type="text" class="form-control" id="moanumber_year2" readonly
                                       name="moanumber_year2">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">datemoasigned_year2 </label>
                                <input type="date" class="form-control" id="datemoasigned_year2" readonly
                                       name="datemoasigned_year2">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">unitcost_year2 </label>
                                <input type="text" class="form-control" id="unitcost_year2" readonly
                                       name="unitcost_year2">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">contractcost_year2 </label>
                                <input type="text" class="form-control" id="contractcost_year2" readonly
                                       name="contractcost_year2">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">dateobligated_year2 </label>
                                <input type="date" class="form-control" id="dateobligated_year2" readonly
                                       name="dateobligated_year2">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label style="color: black;">orsno_year2 </label>
                                <input type="text" class="form-control" id="orsno_year2" readonly
                                       name="orsno_year2">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">num_seedlings_planted_year2 </label>
                                <input type="text" class="form-control" id="num_seedlings_planted_year2" readonly
                                       name="num_seedlings_planted_year2">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">num_seedlings_survive_endofyear_1_year2 </label>
                                <input type="text" class="form-control" id="num_seedlings_survive_endofyear_1_year2" readonly
                                       name="num_seedlings_survive_endofyear_1_year2">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">survivalrate_year2 </label>
                                <input type="text" class="form-control" id="survivalrate_year2" readonly
                                       name="survivalrate_year2">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">num_seedlings_replanted_year2 </label>
                                <input type="text" class="form-control" id="num_seedlings_replanted_year2" readonly
                                       name="num_seedlings_replanted_year2">
                            </div>
                        </div>





                    </div>
                </form>





            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>






@*YEAR3 CONTRACT SHOW IN MODAL(READONLY)*@
<div id="year3contractModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">



        <div class="modal-content">
            <div class="modal-header bg-green">
                <h4 class="card-title d-flex justify-content-between modal-title text-white" style="padding:0;">Year 3 for Contract List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="showdatayear3contractform">
                    <div class="row">


                        <input type="hidden" class="form-control" id="contractorID" name="contractorID" /> @*need id*@

                        <div class="col-md-6">
                            <div class="form-group ">
                                <label style="color: black;">moanumber_year3 </label>
                                <input type="text" class="form-control" id="moanumber_year3" readonly
                                       name="moanumber_year3">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">datemoasigned_year3 </label>
                                <input type="date" class="form-control" id="datemoasigned_year3" readonly
                                       name="datemoasigned_year3">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">unitcost_year3 </label>
                                <input type="text" class="form-control" id="unitcost_year3" readonly
                                       name="unitcost_year3">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">contractcost_year3 </label>
                                <input type="text" class="form-control" id="contractcost_year3" readonly
                                       name="contractcost_year3">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">dateobligated_year3 </label>
                                <input type="date" class="form-control" id="dateobligated_year3" readonly
                                       name="dateobligated_year3">
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group ">
                                <label style="color: black;">orsno_year3 </label>
                                <input type="text" class="form-control" id="orsno_year3" readonly
                                       name="orsno_year3">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">num_seedlings_planted_year3 </label>
                                <input type="text" class="form-control" id="num_seedlings_planted_year3" readonly
                                       name="num_seedlings_planted_year3">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">num_seedlings_survive_endofyear_1_year3 </label>
                                <input type="text" class="form-control" id="num_seedlings_survive_endofyear_1_year3" readonly
                                       name="num_seedlings_survive_endofyear_1_year3">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">survivalrate_year3 </label>
                                <input type="text" class="form-control" id="survivalrate_year3" readonly
                                       name="survivalrate_year3">
                            </div>
                            <div class="form-group ">
                                <label style="color: black;">num_seedlings_replanted_year3 </label>
                                <input type="text" class="form-control" id="num_seedlings_replanted_year3" readonly
                                       name="num_seedlings_replanted_year3">
                            </div>

                        </div>



                    </div>
                </form>





            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>




@*DELETE CONTRACTOR IN MODAL *@
<div class="modal fade" id="deletecontractorModal" role="dialog">
    <div class="modal-dialog modal-m modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-green">
                <h4 class="card-title d-flex justify-content-between modal-title text-white" style="padding:0;">Delete Contractor</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="deleteaccount">
                <div class="modal-body">
                    <br />
                    <h5 class="card-subtitle ">Are you sure you want to Delete This Contractor ?</h5>
                </div>
                <div class="modal-footer coolTZ">
                    <input type="hidden" name="ContractorId" id="ContractorId" />

                    <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
                    <a href="#" class="btn bg-green text-white" id="btnContractorDelete">CONFIRM</a>
                </div>
            </form>
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
        ContractorAnimation();

        //NEED THIS FOR MODAL
        $(document).on('show.bs.modal', '.modal', function () {
            $(this).appendTo('body');
        });
    });
</script>

