
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <ul class="nav nav-pills" id="myTab3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab3" data-toggle="tab" href="#home3" role="tab" aria-controls="forContractor" aria-selected="true"> Contractor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab3" data-toggle="tab" href="#profile3" role="tab" aria-controls="forProject" aria-selected="false">Project </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab4" data-toggle="tab" href="#profile4" role="tab" aria-controls="forContract" aria-selected="false">Contract </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab5" data-toggle="tab" href="#profile5" role="tab" aria-controls="forPayments" aria-selected="false">Payment </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab6" data-toggle="tab" href="#profile6" role="tab" aria-controls="forSched" aria-selected="false">Sched </a>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent2">
                    <div class="tab-pane fade show active" id="home3" role="tabpanel" aria-labelledby="home-tab3">
                        @*for Contractor tab*@

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Contractor Table</h4>

                                    </div>
                                    <div style="padding:2px 2.5%">
                                        <button type="button" class="btn btn-info btn-md " style="border-radius:20px;" onclick="location.href ='/Contractor/Create'">Create Contractor <i class="fa fa-plus-circle"></i> </button>
                                    </div>
                                    <br />
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table table-striped" id="contractortable" width="100%">
                                                <thead>
                                                    <tr>

                                                        <th class="bg-green  text-white">ContractorID</th>
                                                        <th class="bg-green    text-white">ContractorName</th>
                                                        <th class="bg-green   text-white">Address Municipality</th>
                                                        <th class="bg-green  text-white">Address Barangay</th>
                                                        <th class="bg-green  text-white">Contractor Type</th>
                                                        <th class="bg-green  text-white">Action </th>


                                                    </tr>
                                                </thead>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="tab-pane fade" id="profile3" role="tabpanel" aria-labelledby="profile-tab3">
                        @*for project tab*@



                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Project Table</h4>

                                    </div>
                                    <div style="padding:2px 2.5%">
                                        <button type="button" class="btn btn-info btn-md " style="border-radius:20px;" onclick="location.href ='/Project/Create'">Create Projects <i class="fa fa-plus-circle"></i> </button>
                                    </div>
                                    <br />
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table id="projecttable" class="table table-hover" width="100%">


                                                <thead style="height:46px;">
                                                    <tr>
                                                        <th class="bg-green text-white">Area</th>
                                                        <th class="bg-green text-white">SiteCode</th>
                                                        <th class="bg-green text-white">location Municipality</th>
                                                        <th class="bg-green text-white">Location Barangay</th>
                                                        <th class="bg-green text-white">year form</th>
                                                        <th class="bg-green text-white">Penro</th>
                                                        <th class="bg-green text-white">Cenro</th>
                                                        <th class="bg-green text-white">Region</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile4" role="tabpanel" aria-labelledby="profile-tab4">
                        <div class="card-body p-0">
                            <div class="card-header">
                                <h4>Contract Table</h4>

                            </div>
                            <div style="padding:2px 2.5%">
                                <button type="button" class="btn btn-info btn-md " style="border-radius:20px;" onclick="location.href ='/Contract/Create'">Create Contract <i class="fa fa-plus-circle"></i> </button>
                            </div>
                            <br />
                            <div class="table-responsive">
                                <table id="contracttable" class="table table-hover" width="100%">


                                    <thead style="height:46px;">
                                        <tr>

                                            <th style="display:none;">contractID</th>
                                            <th class="bg-green text-white">ContractorName</th>
                                            <th class="bg-green text-white">location_municipality</th>
                                            <th class="bg-green text-white">location_barangay</th>
                                            <th class="bg-green text-white">location_sitio</th>
                                            <th class="bg-green text-white">area</th>
                                            <th class="bg-green text-white">commodity</th>
                                            <th class="bg-green text-white">commodity_type</th>
                                            <th class="bg-green text-white">survival_rate</th>
                                            <th class="bg-green text-white">project_name</th>
                                            <th class="bg-green text-white">contract_cost</th>
                                            <th class="bg-green text-white">site_code</th>
                                            <th class="bg-green text-white">year_established</th>
                                            <th class="bg-green text-white"> num_seedlings_planted</th>
                                            <th class="bg-green text-white">num_seedlings_produced</th>
                                            <th class="bg-green text-white">num_seedlings_survived</th>
                                            <th class="bg-green text-white">num_seedlings_survived_year1</th>


                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile5" role="tabpanel" aria-labelledby="profile-tab5">
                        <div class="card-body p-0">
                            <div class="card-header">
                                <h4>Payment Table</h4>

                            </div>
                            <div style="padding:2px 2.5%">
                                <button type="button" class="btn btn-info btn-md " style="border-radius:20px;" onclick="location.href ='/Payment/Create'">Create Payment <i class="fa fa-plus-circle"></i> </button>
                            </div>
                            <br />
                            <div class="table-responsive">
                                <table id="paymenttable" class="table table-hover" width="100%">


                                    <thead style="height:46px;">
                                        <tr>

                                            <th style="display:none;">paymentId</th>
                                            <th class="bg-green text-white">ContractorName</th>
                                            <th class="bg-green text-white">num release</th>
                                            <th class="bg-green text-white">year released</th>


                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile6" role="tabpanel" aria-labelledby="profile-tab6">
                        <div class="card-body p-0">
                            <div class="card-header">
                                <h4>Sched Table</h4>

                            </div>
                            <div style="padding:2px 2.5%">
                                <button type="button" class="btn btn-info btn-md " style="border-radius:20px;" onclick="location.href ='/Sched/Create'">Create Sched <i class="fa fa-plus-circle"></i> </button>
                            </div>
                            <br />
                            <div class="table-responsive">
                                <table id="schedtable" class="table table-hover" width="100%">


                                    <thead style="height:46px;">
                                        <tr>

                                            <th style="display:none;">schedID</th>
                                            <th class="bg-green text-white">ors_no</th>
                                            <th class="bg-green text-white">ors_date</th>
                                            <th class="bg-green text-white">dv_no</th>
                                            <th class="bg-green text-white">dv_date</th>
                                            <th class="bg-green text-white">lddap_no</th>
                                            <th class="bg-green text-white">lddap_date</th>
                                            <th class="bg-green text-white">contractor_name</th>



                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@*EDIT CONTRACTOR IN MODAL*@
<div id="editcontractorModal" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">



        <div class="modal-content">
            <div class="modal-header bg-green">
                <h4 class="card-title d-flex justify-content-between modal-title text-white" style="padding:0;">Edit Contractor</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <form id="editcontractorform">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="hidden" class="form-control" id="contractorID" name="contractorID"> @*get id for edit needthis*@
                                <div class="form-group ">
                                    <label>Contractor Name</label>
                                    <input type="text" class="form-control" id="contractor_name" name="contractor_name" required>
                                    <p class="d-none text-red warning-kuno">Please Input a Field</p>
                                </div>

                                <div class="form-group">
                                    <label for="contractor_type">Type</label>
                                    <select class="form-control" style="width:100%" name="contractor_type" id="contractor_type">
                                        <option value="">Type</option>
                                        <option value="Group">Group</option>
                                        <option value="Individual">Individual</option>
                                    </select>
                                    <p class="d-none text-red warning-kuno">Please Input a Field</p>
                                </div>
                            </div>


                            <div class="col-md-6">

                                <div class="form-group">
                                    <div class=" sample">

                                        <label style="color: black;">address_municipality</label>
                                    </div>

                                    <div class="form-group">

                                        <select id="address_municipality" name="address_municipality" class="form-control" style="width:100%">
                                            <option value=" ">Not Applicable</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <div class=" sample">

                                            <label style="color: black;">address_barangay </label>
                                        </div>
                                        <select name="address_barangay" id="address_barangay" style="width:100%" class="form-control" required="required">
                                            <option value=" ">Not Applicable</option>
                                        </select>
                                    </div>
                                </div>
                            </div>




                        </div>
                        <div class="text-center">
                            <div class="text-center">

                                <button type="button" value=" submit" class="btn btn-success " id="UpdateRecord">Save</button>

                            </div>

                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



@*DELETE CONTRACTOR IN MODAL *@
<div class="modal fade" id="deletecontractorModal" role="dialog" data-backdrop="false" >
    <div class="modal-dialog modal-m modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-green">
                <h4 class="card-title d-flex justify-content-between modal-title text-white" style="padding:0;">Delete Contractor</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="deleteaccount">
                <div class="modal-body">
                    <br />
                    <h5 class="card-subtitle ">Are you sure you want to Delete This Contractor ?</h5>
                </div>
                <div class="modal-footer coolTZ">
                    <input type="hidden" name="ContractorId" id="ContractorId" />

                    <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
                    <a href="#" class="btn bg-green text-white" id="btnContractorDelete">CONFIRM</a>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        ContractorAnimation();
        Project();
        Contract();
        Payment();
        Sched();
    });
</script>

