<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/Scripts/jquery-3.4.1.js"></script>  @*meed this   laging sa taas *@
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <link href="~/Content/select2.css" rel="stylesheet" />
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <link href="~/Content/assets/modules/prism/prism.css" rel="stylesheet" />
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/General.js"></script>

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title> Ngp Management System</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="/Content/assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/assets/modules/fontawesome/css/all.min.css">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="/Content/assets/modules/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="/Content/assets/modules/summernote/summernote-bs4.css">


    <!-- Template CSS -->
    <link rel="stylesheet" href="/Content/assets/css/style.css">
    <link rel="stylesheet" href="/Content/assets/css/components.css">
    <!-- Start GA -->




    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
    <!-- /END GA -->
</head>

<body>

    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg " style="background-color: #20642f !important "></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>



                    </ul>

                </form>
                <ul class="navbar-nav navbar-right">




                    @*FOR User*@
                    @{ if ((int)Session["Role_Id"] != 1)

                        {

                            <li class="dropdown">
                                <br />
                                <a href="#" data-toggle="dropdown" class="nav-link  nav-link-lg nav-link-user ">

                                    @{
                                        Html.RenderAction("AdminNameViewinProfile", "Account");
                                    }

                                </a>
                                <div class="dropdown-menu dropdown-menu-right">

                                    <a href="/User/Index" class="dropdown-item has-icon">
                                        <i class="fa fa-fire"></i> User Dashboard
                                    </a>
                                    <a href="/Account/Index" class="dropdown-item has-icon">
                                        <i class="far fa-user"></i> Account Settings
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    <a href="/NgpManagement/Logout" class="dropdown-item has-icon text-danger">
                                        <i class="fas fa-sign-out-alt"></i> Logout
                                    </a>
                                </div>
                            </li>
                        }
                    }
                </ul>

            </nav>

            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="index.html"> Ngp Management System</a>
                    </div>

                    @{
                        Html.RenderAction("DisplayPicNameandRole", "Account");
                    }
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a href="index.html">St</a>
                    </div>
                    <ul class="sidebar-menu">
                        <li><a class="nav-link" style="color: #28a745 !important;" href="/User/Index"><i class="fa fa-fire"></i> <span> User Dashboard</span></a></li>
                        <li class="menu-header">Starter</li>
                        <li class="dropdown">
                            <a href="#" style="color: #28a745 !important;" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fa fa-user"></i> <span>Manage Account</span></a>
                            <ul class="dropdown-menu">

                                <li><a class="nav-link" href="/Account/Index">Users Table</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="" style="color: #28a745 !important;" class="nav-link has-dropdown"><i class="fas fa-th"></i> <span>Contractor</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/Contractor/Create">Create Contractor<i class="fa fa-plus-circle"></i></a></li>


                            </ul>
                        </li>
                   
                        <li><a class="nav-link" href="/Information/Index" style="color: #28a745 !important;"><i class="fas fa-pencil-ruler"></i> <span>Information List</span></a></li>
                    </ul>


                </aside>
            </div>



            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>
                            National Greening Project Management System
                        </h1>
                        <div class="col-6">
                            <div class="btn-group mb-2">
                                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Activity Logs
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Information List
                                    </button>
                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <a class="dropdown-item" href="/Information/Index">Action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="card card-statistic-1">
                                <div class="card-icon bg-primary">
                                    <i class="fa fa-users text-white" style="font-size:20px;"></i>
                                </div>
                                <div class="card-wrap">
                                    <div class="card-header">
                                        <h4 class="text-black-50">Total Users Account</h4>
                                    </div>
                                    <div class="card-body">
                                        <h4 id="UserAccountadmincount"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="card card-statistic-1">
                                <div class="card-icon bg-danger">
                                    <i class="far fa-user-circle"></i>
                                </div>
                                <div class="card-wrap">
                                    <div class="card-header">
                                        <h4 class="text-black-50">Total Contractors</h4>
                                    </div>
                                    <div class="card-body">
                                        <h4 id="Contractoradmincount"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="card card-statistic-1">
                                <div class="card-icon bg-warning">
                                    <i class="far fa-file"></i>
                                </div>
                                <div class="card-wrap">
                                    <div class="card-header">
                                        <h4 class="text-black-50">Total Projects</h4>
                                    </div>
                                    <div class="card-body">
                                        <h4 id="Projectsadmincount"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="card card-statistic-1">
                                <div class="card-icon bg-success">
                                    <i class="fas fa-file-contract"></i>
                                </div>
                                <div class="card-wrap">
                                    <div class="card-header">
                                        <h4 class="text-black-50">Total Contract</h4>
                                    </div>
                                    <div class="card-body">
                                        <h4 id="Contractsadmincount"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>B

                    @RenderBody();

                </section>
            </div>


            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2023 <div class="bullet"></div>  <a href="">NgpMangementSystem</a>
                </div>
                <div class="footer-right">

                </div>
            </footer>
        </div>
    </div>
    <!-- General JS Scripts -->
    @*MAINTENANCE MODE USER*@
    <div class="modal fade" id="modalshowmaintenance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-danger modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header card-header2">
                    <h5 class="heading" style="color:white;">MAINTENANCE MODE</h5>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="/NgpManagement/Login">
                                <img src="~/DefaultImage/maintenance.jpg" style="display: block; width: 100%; height: 550px;" />
                                <input type="hidden" id="message" name="message">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="modal-footer ">
                    <a class="btn btn-danger" href="/NgpManagement/Login" style="color:white;">Close</a>
                </div>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    type: 'GET',
                    url: '/Maintenance/Get',
                    success: function (data) {
                        console.log('getmaintenance', data[0].isActive);

                        if (data[0].isActive == true) {
                            $('#modalshowmaintenance').modal('show')

                        }
                    }
                });
            }, 1500);
        });

    </script>
    <script src="/Content/assets/modules/popper.js"></script>
    <script src="/Content/assets/modules/tooltip.js"></script>
    <script src="/Content/assets/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="/Content/assets/modules/moment.min.js"></script>
    <script src="/Content/assets/js/stisla.js"></script>

    <!-- JS Libraies -->

    <script src="~/Content/assets/modules/prism/prism.js"></script>
    <script src="/Content/assets/modules/jquery.sparkline.min.js"></script>
    <script src="/Content/assets/modules/chart.min.js"></script>
    <script src="/Content/assets/modules/owlcarousel2/dist/owl.carousel.min.js"></script>
    <script src="/Content/assets/modules/summernote/summernote-bs4.js"></script>
    <script src="/Content/assets/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>

    <!-- Page Specific JS File -->
    <!-- Page Specific JS File -->
    <script src="/Content/assets/js/page/bootstrap-modal.js"></script>

    <!-- Template JS File -->
    <script src="/Content/assets/js/scripts.js"></script>
    <script src="/Content/assets/js/custom.js"></script>

    <script>
        $(window).ready(function () {
            TotalCounts();
             //NEED THIS FOR MODAL
            $(document).on('show.bs.modal', '.modal', function () {
                $(this).appendTo('body');
            });
        });
    </script>


</body>
</html>