
@{
    ViewBag.Title = "Index";
    Layout = (int)Session["Role_Id"] == 1 ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-header" style="background-color: #f1f1f1;">
                <h4>CONTRACT LOGS TABLE</h4>
                <br />
            </div>

            <div class="card-body p-0">
                <br />
                <br />
                <br />
                <div class="table-responsive">
                    <table class="table table-striped" id="contractlogsadmin" width="100%">
                        <thead>
                            <tr>

                                <th>Id</th>
                                <th>Date Added</th>
                                <th>UserName</th>
                                <th>Log Message</th>
                                <th>Name</th>
                                <th>RoleId</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        AdminLActivitLogs();

    });
</script>


